/* Add blood vial animations */
@keyframes bloodWave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@keyframes waveEffect {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }
}