@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #ffffff;
  --primary: #dc2626;
  --primary-light: #fef2f2;
  --card-border: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #121212;
    --primary: #ef4444;
    --primary-light: #450a0a;
    --card-border: #374151;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}